.form-container, .auth-container {
  background: var(--white);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.03);
  max-width: 500px;
  margin: 0 auto;
}

h3, h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: var(--primary-green);
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; /* Garante que o padding não quebre a largura */
}

button {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s;
}

button:hover {
  background-color: #3a5233;
}
