.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.3s ease;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 320px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  animation: slideUp 0.3s ease;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #2e7d32; /* verde */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #2e7d32;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #256628;
}

.close-btn {
  background: none;
  color: #333;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/* animações */
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
